script(src=path +"js/jquery.js")
script(src=path +"js/jquery.maskedinput.min.js")
script(src=path +"js/modal.js")
script(src=path +"js/swiper-bundle.min.js")
script(src=path +"js/slider.js")
script(src=path +"js/aos.js")
script(src=path +"js/fancybox.min.js")
script(src=path +"js/form.js")

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=*7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript"></script>
script(src=path +"js/map.js")

script(src=path +"js/function.js")
