extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var header_class = 'header_dark';
    -var video_bg = true;
    -var contactus = true;


block content
    // begin ourwork
    section#ourwork.ourwork.section
        .ourwork__top
            .container_center
                ul.ourwork__nav.list
                    each item in ['Инфраструктурные решения', 'Информационная безопасность', 'Консалтинг' ]
                        li
                            a(href="#")
                                span=item 
                                i.icon_arrow_right

        .ourwork__main
            .container_center
                .ourwork__content
                    .ourwork__tag
                        span >
                        span \
                    .ourwork__label
                        span Просто о сложном
                    .section__text
                        span Предлагаем комплексные решения в области IT и информационной безопасности, консультируем в области соблюдения требований регуляторов и стандартов, а также оказываем техническую поддержку по всем представленным направлениям.


        .ourwork__bottom
            .container_center
                .ourwork__content
                    .section__title
                        span Наша работа
                    .section__text
                        span Ключевыми направлениями нашей работы являются оказание услуг и поставка товаров как в области IT-технологий, так и в области информационной безопасности. Кроме того – это консалтинг в области соблюдения требований регуляторов и стандартов, а также техническая поддержка по всем представленным направлениям.

                .ourwork__list
                    .ourwork__label
                        span Что мы можем для вас сделать:
                    ul.list
                        li
                            .pulse( style="--i:0;")
                            span Повысть эффективность IT инфраструктуры
                        li
                            .pulse( style="--i:1;")
                            span Предотвратить хищение ваших денег и денег клиентов
                        li
                            .pulse( style="--i:2;")
                            span Обеспечить конфендициальность данных
                        li
                            .pulse( style="--i:3;")
                            span Привести в соответствие с законами РФ вашу работу
                        li
                            .pulse( style="--i:4;")
                            span Увеличить вашу прибыль
                        li
                            .pulse( style="--i:5;")
                            span Совместно опередить ваших конкурентов

    // end ourwork



    // begin principle
    section#principle.principle.section.lines
        .lines__wrap
            .lines__list
                span
                span
                span

        .container_center
            .principle__caption
                h2.section__title
                    span ПРИНЦИПЫ айтуби
                .section__text
                    span Наша Команда в первую очередь — это высококвалифицированные IT-специалисты, а не просто «хорошие».
            .principle__list.counter-wrap
                each item in ['Непрерывно следим за развитием IT-рынка', 'Обладаем широкой линейкой продуктов, услуг и сервисов.', 'Непрерывно обучаем наш персонал новым технологиям.', 'Пристально следим за графиком загрузки наших инженеров.' ]

                    .principle__item.counter-item
                        .principle__number
                            span.counter-el
                        .section__text
                            span=item

    // end principle

    // begin target
    section#target.target.section
        .rotation
        .container_center
            .target__content
                .target__left
                    h2.section__title
                        span ЦЕЛИ НАШЕЙ<br> КОМПАНИИ
                    ul.list
                        each item in ['Защитить ваши ценности', 'Преумножить ваши достижения', 'Обеспечить ваше безопасное будущее', ]
                            li
                                span!=item

                .target__right
                    .target__label
                        span «Относись к клиенту, как к индивидуальности»
                    ul.list
                        li
                            span При создании компании «Айтуби» нашими неизменными учредителями было принято правило, сохраняющееся и на сегодняшний день

    // end target

    // begin system
    section#system.system.section

        .system__top
            .container_center
                h2.section__title
                    span системный интегратор<br> полного цикла
            .system__list
                each item in [ {deley: '0', text: 'Проектирование'}, {deley: '1', text: 'Поставка решений'}, {deley: '2', text: 'Интеграция'}, {deley: '3', text: 'Тех. поддержка 24/7'},]
                    .system__item
                        .pulse( style="--i:"+item.deley+";")
                        .system__text
                            span=item.text
            .container_center
                .system__caption
                    h2.section__title
                        span обладаем необходимыми лицензиями
                    .section__text
                        span Все наши технические и предпродажные специалисты не только сертифицированы, но и непрерывно обучаются новым технологиям.
        .system__bottom
            .container_center
                .system__slider
                    .swiper.swiper_licenses_js
                        .swiper-wrapper
                            each item in ['', '', '', ]
                                .swiper-slide
                                    .system__border
                                        .system__img.img
                                            img(src="../../img/licenses.jpg", alt="alt")

                .system__content
                    .system__nav
                        .system__inner
                            .system__fraction
                                span.fraction_current_js 10
                                span  из 
                                span.fraction_all_js 38

                            .system__label
                                .system__el.active(data-index="0")
                                    span Лицензией ФСТЭК 1 России на деятельность по технической защите конфиденциальной информации. информации.информации.
                                .system__el(data-index="1")
                                    span Лицензией ФСТЭК 2 
                                .system__el(data-index="2")
                                    span Лицензией ФСТЭК 3 России на деятельность по технической защите конфиденциальной информации.

                        .system__arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right

                        .swiper__dotted.licenses_dotted_js.mobile

    // end system

    // begin business
    section#business.business.section
        .container_center
            h2.section__title
                span Работаем во всех сферах бизнеса
            .business__content
                .swiper.swiper_business_js
                    .swiper-wrapper
                        each item in [ {text: 'Государственный сектор', img: 'state'}, {text: 'Связь и телеком', img: 'connection'}, {text: 'Медиа и СМИ', img: 'smi'}, {text: 'Ритэйл', img: 'bag'}, {text: 'Строительство', img: 'building'}, {text: 'Энергетика', img: 'energy'}, {text: 'Банковские и фин. сферы', img: 'cart'}, {text: 'Здравоохранение<br> и медицина', img: 'medicine'}, {text: 'Страхование', img: 'defense'}, {text: 'ТЭК', img: 'water'}, {text: 'Наука', img: 'science'}, {text: 'Образование', img: 'book'}, {text: 'Транспорт', img: 'transport'}, {text: 'Туризм', img: 'tourism'}, {text: 'Промышленность (машиностроение, атомная, горнодобывающая, металлургическая, химическая и т.д.)', img: 'Industry'}, {text: 'Оборонная и ракетно-космическая отрасли', img: 'rocket'}, ]
                            .swiper-slide

                                .section__text
                                    span!=item.text
                                .business__img.img
                                    img(src="../../img/"+item.img+".svg", alt="alt")

                .swiper__dotted.business_dotted_js

    // end business






    //- // begin tabsPreview
    //- section#tabsPreview.tabsPreview.section
    //-     .container_center
    //-         h2.section__title tabs Preview
    //-         .tabsPreview__content
    //-             .tabs__wrapper
    //-                 .tabs
    //-                     .tab Вкладка 1
    //-                     .tab Вкладка 2
    //-                     .tab Вкладка 3
    //-                 .tabs__content
    //-                     .tab__item Содержимое 1
    //-                     .tab__item Содержимое 2
    //-                     .tab__item Содержимое 3
    //- 
    //- // end tabsPreview
